@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&family=Besley&display=swap');

:root {
  --light-blue: #30adc1;
  --dark-blue: #0f4d57;
  --coral: #e9605a;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	margin: 0;
}

h1 {
	color: var(--light-blue);
}

h2 {
	color: var(--dark-blue);
	text-decoration: underline;
	font-size: 26px;
}

h3 {
	color: var(--dark-blue);
}

dd {
	font-style: italic;
	font-size: 16px;
}

a {
	color: var(--coral);
}

.center {
	text-align: center;
}

.button {
	cursor: pointer;
	margin: 30px auto 0 auto;
	background: var(--dark-blue);
	padding: 10px 5px;
	width: 200px;
	border-radius: 20px;
	color: white;
	text-align: center;
	text-transform: uppercase;
}

.italic {
	font-style: italic;
}

.bold {
	font-weight: bold;
}

.footerDivider {
	margin: 60px auto 20px auto;
	height: 2px;
	width: 200px;
	background-color: var(--dark-blue);
}