body {
	font-family: sans-serif;
	font-size: 20px;
	margin: 0;
}

h1 {
	text-align: center;
}

#container {
	text-align: center;
	width: 100%;
	display: flex;
	height: 100vh;
}

#addVerb {
	flex: 2;
}

.difficultyStar {
	width: 18px;
	margin: 0 1px -2px 1px;
}

#verbsList {
	flex: 1;
	background-color: #dedede;
	height: 100vh;
	overflow-y: scroll;
}

#container > h1 {
	text-align: center;
	margin-bottom: 30px;
}

.hide {
	display: none;
}

p {
	margin: 5px 0;
}

footer {
	text-align: right;
	width: 100%;
	margin-top: -30px;
	font-size: 16px;
}

.italic {
	font-style: italic;
}

.bold {
	font-weight: bold;
}

.button {
	cursor: pointer;
	margin: 30px auto 0 auto;
	background: #0f4d57;
	padding: 10px 5px;
	width: 200px;
	border-radius: 20px;
	color: white;
	text-align: center;
}

.active {
	color: blue;
}

.optionChoice.active {
	color: white;
	background-color: #30adc1;
	font-weight: 600;
}

#divider {
	width: 50%;
	height: 2px;
	background-color: #bdbdbd;
	margin: 60px auto 0 auto;
}

.optionChoice {
	display: inline-block;
	margin: 5px;
	background: #bdbdbd;
	padding: 10px;
	width: 200px;
	cursor: pointer;
	border-radius: 20px;
	color: white;
}

.entry {
	display: flex;
	padding: 5px 20px;
	cursor: pointer;
	line-height: 30px;
}

.entryContent {
	flex: 1;
}

.entryContent:hover {
	font-size: 24px;
}

.optionChoice.doubleSize {
	width: 400px;
}

input[type="checkbox"] {
	pointer-events: none;
}